.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-image: url('../../../assets/images/adopta-pet.webp'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff; /* Cambié el color del texto para hacerlo más visible sobre la imagen */
  }
  
  .welcome-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente para que se vea la imagen pero sea legible */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 100%;
    max-width: 500px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  ion-button {
    font-size: 1rem;
  }
  